 
 form{
 display:table;
 border:1px dotted black;
 padding:10px;
 background-color: aquamarine; 
 margin: auto;
 margin-bottom: 10px;

 }
 .tableRow{
 display:table-row;
 }
 div.tableRow > p, div.tableRow > label, div.tableRow >input{
 display:table-cell;
 vertical-align:top;
 padding:3px;
 }
 legend{
 font-weight:bold;
 }
 div.tableRow label:first-child{
 text-align: right;
 }
h1,h2{
	text-align: center;
}
textarea{
	  width:500px;
    height:200px;
	
}
